name: UnitTest

on:
  push:
    branches: [ "master", "develop", "main" ]
  pull_request:
    branches: [ "master", "develop", "main" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.8.16
        uses: actions/setup-python@v3
        with:
          python-version: "3.9.5"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install -e .
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
      - name: Test API with pytest
        run: |
          python -m unittest discover -s test